$bg-color: #1abc9c;
$card-color: #b6f6bb;
$card-header-color: #16a085;
$shadow-color: #999;

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
}
